<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Printer Management</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span></span> Springwood Toyota Sales
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@GlobalConfig.SpringwoodMazdaSales">
                <span></span> @GlobalConfig.SpringwoodMazdaSales
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@GlobalConfig.SpringwoodMazdaServices">
                <span></span> @GlobalConfig.SpringwoodMazdaServices
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@GlobalConfig.ClevelandMG">
                <span></span> @GlobalConfig.ClevelandMG
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@GlobalConfig.ClevelandToyota">
                <span></span> @GlobalConfig.ClevelandToyota
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@GlobalConfig.RedlandsMazda">
                <span></span> @GlobalConfig.RedlandsMazda
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@GlobalConfig.KinstonPD">
                <span></span> @GlobalConfig.KinstonPD
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
