@page "/printer/{ParentPath}/add"
@page "/printer/{ParentPath}/{Id:int}"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@inject IPrinterData printerData


@if (loading) {
        <span>@msg</span>
}
else {
    @if (printer.Id is not 0) {
        <h3>Edit"@printer.Name"</h3>
    }
    else if (printer.Id is 0) {
        <h3>Create a new Printer</h3>
    }
    <EditForm Model="printer" OnValidSubmit="AddOrUpdatePrinter">
            <DataAnnotationsValidator></DataAnnotationsValidator>

            <div class="mb-0">
            <label for="ip">IP</label>
            <InputText id="ip" @bind-Value="printer.IP" class="form-control"></InputText>
            </div>

        <div class="mb-0">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="printer.Name" class="form-control"></InputText>
        </div>

         <div class="mb-0">
            <label for="model">Model</label>
            <InputText id="mdoel" @bind-Value="printer.Model" class="form-control"></InputText>
        </div>

                    <div class="mb-0">
            <label for="machineNo">Machine No</label>
            <InputText id="machineNo" @bind-Value="printer.MachineNo" class="form-control"></InputText>
            </div>

                        <div class="mb-0">
            <label for="serialNo">Serial No</label>
            <InputText id="serialNo" @bind-Value="printer.SerialNo" class="form-control"></InputText>
            </div>
       
                        <div class="mb-0">
            <label for="location">Location</label>
            <InputText id="location" @bind-Value="printer.Location" class="form-control"></InputText>

                        <div class="mb-0">
                <label for="department">Department</label>
                <InputText id="department" @bind-Value="printer.Department" class="form-control"></InputText>




                <div class="mb-0">
                    <label for="manufacturer">Manufacturer</label>
                    <InputText id="manufacturer" @bind-Value="printer.Manufacturer" class="form-control"></InputText>
                </div>

                        <div class="mb-0">
@*                    <label for="site">Site</label>
                    <InputSelect id="site" @bind-Value="printer.Site" class="form-control">
                        
                        <option value="@GlobalConfig.SpringwoodToyota.ToString()">@GlobalConfig.SpringwoodToyota</option>
                        <option value="@GlobalConfig.SpringwoodMazdaServices.ToString()">@GlobalConfig.SpringwoodMazdaServices</option>
                        <option value="@GlobalConfig.SpringwoodMazdaSales.ToString()">@GlobalConfig.SpringwoodMazdaSales</option>

                        <option value="@GlobalConfig.ClevelandMG.ToString()">@GlobalConfig.ClevelandMG</option>
                        <option value="@GlobalConfig.ClevelandToyota.ToString()">@GlobalConfig.ClevelandToyota</option>
                        <option value="@GlobalConfig.RedlandsMazda.ToString()">@GlobalConfig.RedlandsMazda</option>
                        <option value="@GlobalConfig.KinstonPD.ToString()">@GlobalConfig.KinstonPD</option>
                    </InputSelect>*@
           
            </div>
            </div>
            </div>

<br/>

        <button type="submit" class="btn btn-primary float-end">
            @if (printer.Id != 0) {
                <i class="oi oi-pencil"></i>
            }else {
                <i class="oi oi-plus"></i>
            }
            @btnText
        </button>
        <ValidationSummary></ValidationSummary>

    </EditForm>
    @if (printer.Id!=0) {
        <button type="button" class="btn btn-danger float-start" @onclick="DeletePrinter">
            <i class="oi oi-trash"></i>Delete
        </button>
    }
}

@code {
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string ParentPath { get; set; }
    PrinterModel printer= new PrinterModel();
    bool loading = true;
    string btnText = "";  //submit button's text
    string msg = "Loading...........";


    //OnInitialized and OnInitializedAsync are invoked when the component is initialized after 
    // having received its initial parameters in SetParametersAsync.
     /*
     * OnParametersSet or OnParametersSetAsync are called:
    After the component is initialized in OnInitialized or OnInitializedAsync.
    When the parent component rerenders and supplies:
    1.Known or primitive immutable types when at least one parameter has changed.
    2.Complex-typed parameters. 
    The framework can't know whether the values of a complex-typed parameter 
    have mutated internally, 
    so the framework always treats the parameter set as changed when one or 
    more complex-typed parameters are present.
    */
    protected override async Task OnParametersSetAsync() {
        if (Id == 0) {
            //no route parameter
            btnText = "Create";
        }
        else {
            PrinterModel DbPrinter = await printerData.GetPrinter(Id);
            if (DbPrinter == null) {
                msg = $"Printer with Id '{Id}' does not exist!!!!";
                return;
            }
            printer = DbPrinter;
            printer.Editing = true;
            btnText = "Update";
        }
        loading = false;
    }

    async void AddOrUpdatePrinter() {
        if (Id == 0) {
            printer.Site = ParentPath;
            var result = await printerData.CreatePrinter(printer); 
            if (result != null) {
                NavigationManager.NavigateTo($"/{ParentPath}");
            }

        }
        else {
            printer.Site = ParentPath;
            printer = await printerData.UpdatePrinter(printer) ;
            
            if (printer != null) {
                NavigationManager.NavigateTo($"/{ParentPath}", true);
                //   forceLoad:
                //     If true, bypasses client-side routing and forces the browser to load the new
                //     page from the server, whether or not the URI would normally be handled by the
                //     client-side router.
            }

        }
    }
    async void DeletePrinter() {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", $"Do you really want to delete '{printer.Name}' ?");
        if (confirmed) {
            await printerData.DeletePrinter(printer.Id);
            NavigationManager.NavigateTo($"/{ ParentPath}");
           
        }
    }
    
   
}

